.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.login-box {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-box button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}
